{% extends "base.html" %}
{% load static %}

{% block custom-css %}
    <style>
        .form-container {
        margin-top: 5em;
        max-width: 900px !important;
        margin-left: auto;
        margin-right: auto;
        }
    </style>
{% endblock custom-css %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand fs-3" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid w-50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 p-3">
                <li class="nav-item">
                    <a class="nav-link 
                    {% block home-size %} fs-5 {% endblock home-size %} 
                    fw-bolder" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle {% block user-size %} fs-5 {% endblock user-size %} fw-bolder" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user }}
                        </a>

                        <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item {% block acc-size %} fs-5 {% endblock acc-size %}" href="{% url 'profile' %}">
                            <i class="fa-solid fa-user"></i>&nbsp;&nbsp;Account
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item {% block auth-size %} fs-5 {% endblock auth-size %}" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa-solid fa-right-from-bracket"></i>&nbsp;Log Out
                            </a>
                        </li>

                        {% if request.user.is_superuser %}
                            <li>
                            <hr class="dropdown-divider">
                            </li>

                            <li>
                            <a href="#" class="dropdown-item {% block user-managment-size %} fs-5 {% endblock user-managment-size %} ">
                                <i class="fa-solid fa-users"></i>&nbsp;User Managment
                            </a>
                            </li>

                            <li>
                            <a class="dropdown-item {% block admin-size %} fs-5 {% endblock admin-size %} " href="/admin/">
                                <i class="fa-solid fa-user-tie"></i>&nbsp;&nbsp;Admin
                            </a>
                            </li>
                        {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title text-danger fs-4" id="exampleModalLabel">Log out</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger text-center">
              <i class="fa-solid fa-right-from-bracket text-danger text-center fs-4"></i>
              <br>
              <p class="fs-4">Are you sure you want to log out?</p>
            </div>
            <div class="modal-footer">
              <a href="{% url 'logout' %}" class="btn btn-lg btn-outline-danger">Yes</a>
              <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

    {% for msg in messages %}
      <div class="container mt-3 alert {{ msg.tags }} alert-dismissible fade show fw-bolder fs-5" role="alert" id="alert-msg">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    <div class="container form-container d-flex flex-column justify-content-center align-self-center mb-5 shadow-lg p-5">
        <div class="text-center">
        <h1 class="border-bottom border-primary border-5 pb-1 d-inline-block">{{ request.user }}'s Profile</h1>
        </div>
        <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name:</label>
            <input id="first_name" name="first_name" type="text" placeholder="first_name" required autofocus="" 
            class="form-control rounded-5" value="{{ request.user.first_name }}">
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name:</label>
            <input id="last_name" name="last_name" type="text" placeholder="last_name" required autofocus="" 
            class="form-control rounded-5" value="{{ request.user.last_name }}">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input id="username" name="username" type="text" placeholder="Username" required autofocus="" 
            class="form-control rounded-5" value="{{ request.user }}">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input id="email" name="email" type="email" placeholder="email" required autofocus="" 
            class="form-control rounded-5" value="{{ request.user.email }}">
        </div>

        <div class="password">
            <a href="{% url 'change_password' %}" class="text-decoration-none">Change password</a>
            <a href="/profile/delete-account" class="text-decoration-none ms-2 text-danger">Delete Account</a>
        </div>

        <div class="button">
            <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
        </div>
        </form>
    </div>
{% endblock %}
</body>
</html>
